:root {
  --brand-color: #2196f3;
  --white-color: #ffffff;
  --text-color: #757575;
  --body-color: #212121;
  --black-color: #000000;
  --background-portfolio-buttons-color: #f5f4fa;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --our-team-bg: #f5f4fa;
  --header-footer-bg: #2f303a;
  --pictures-figcaption-border-color: #eeeeee;
  --join-us-links-bg: rgba(255, 255, 255, 0.1);
  --header-border-bottom: #ececec;
  --hero-bg-gradient: rgba(47, 48, 58, 0.4);
  --our-strenghts-icon-bg: #f5f4fa;
  --icons-fill: #afb1b8;
  --what-we-do-img-title-bg: rgba(47, 48, 58, 0.8);
  --portfolio-cards-bg: rgba(33, 150, 243, 0.9);
  --modal-backdrop-color: rgba(0, 0, 0, 0.2);
  --modal-close-button-border: rgba(0, 0, 0, 0.1);
  --nesletter-input-border: rgba(255, 255, 255, 0.3);
  --newsletter-placeholder: rgba(255, 255, 255, 0.6);
  --order-input-placeholder: rgba(33, 33, 33, 0.2);
  --order-textarea-placeholder: rgba(117, 117, 117, 0.5);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--body-color);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* logo */
.logo {
  font-family: "Raleway", sans-serif;
  color: var(--black-color);
  font-size: 26px;
  line-height: 1.19;
}
.logo--footer {
  color: var(--white-color);
}
.logo__web {
  color: var(--brand-color);
}

/* nav */
.header__nav-item {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-item:focus,
.header__nav-item:hover {
  color: var(--brand-color);
}
.header__nav-item--line {
  color: var(--brand-color);
  position: relative;
}
.header__nav-item--line::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(45px);
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
}

/* contacts */
.header__contact-link {
  display: flex;
  color: var(--text-color);
  fill: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-link:focus,
.header__contact-link:hover {
  color: var(--brand-color);
  fill: var(--brand-color);
}
.footer__contact-link {
  color: var(--contacts-footer-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact-link:focus,
.footer__contact-link:hover {
  color: var(--brand-color);
}
.footer__contact-link--mail {
  text-decoration: underline;
}
.footer__company-address {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.14;
}

/* buttons */
.btn {
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
.btn--hero {
  color: var(--white-color);
  background-color: var(--brand-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--hero:hover,
.btn--hero:focus {
  background-color: var(--white-color);
  color: var(--brand-color);
}
.btn--portfolio {
  background: var(--background-portfolio-buttons-color);
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--portfolio:focus,
.btn--portfolio:hover {
  background: var(--brand-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* hero */
.hero__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
}

/* lorem ipsum */
.our-strengths__titles {
  color: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}
.our-strengths__text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* section our team and what we do */
.section__title {
  color: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.our-team__names {
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.our-team__job {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

/* pictures-section */
.portfolio-cards__title {
  color: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.portfolio-cards__text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* containers */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}
.section:nth-child(3) {
  padding-top: 0;
}

/* header */
.header {
  border-bottom: var(--header-border-bottom) solid 1px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 15px;
}
.header__contact-list {
  display: flex;
  gap: 50px;
}
.header__nav-list {
  display: flex;
  gap: 46px;
  align-items: center;
  padding-left: 93px;
}

/* hero */
.hero {
  background-image: linear-gradient(
      var(--hero-bg-gradient),
      var(--hero-bg-gradient)
    ),
    url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 200px 0;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.hero__content {
  text-align: center;
  width: 696px;
}
.header__nav {
  display: flex;
}

/* lorem */
.our-strengths {
  display: flex;
  gap: 30px;
}

/* what we do */
.what-we-do {
  display: flex;
  gap: 30px;
}

/* our team */
.our-team {
  display: flex;
  gap: 30px;
}
.section--our-team {
  background-color: var(--our-team-bg);
}
.section-title--our-team {
  text-align: center;
  margin-bottom: 50px;
}
.our-team__figure {
  margin: 0;
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.our-team__figcaption {
  text-align: center;
  padding: 30px 0;
}

/* footer */
.footer {
  background-color: var(--header-footer-bg);
}
.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 60px 15px;
}
.footer__address {
  padding-top: 20px;
  font-style: normal;
}
.footer__address-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

/* portfolio */
.portfolio-btn {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-cards__figure {
  margin: 0;
}
.portfolio-cards__figure:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-cards__img {
  vertical-align: bottom;
}
.portfolio-cards__figcaption {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--pictures-figcaption-border-color);
  padding: 20px 24px;
}

/* header icons */
.header__icon-envelope {
  margin-right: 10px;
  vertical-align: -1px;
}
.header__icon-smartphone {
  margin-right: 10px;
  vertical-align: -3px;
}

/* lorem ipsum icons */
.our-strengths__icon {
  background-color: var(--our-strenghts-icon-bg);
  margin-bottom: 30px;
}

/* our team icons */
.our-team__link-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.our-team__link {
  font-size: 0;
  border-radius: 50%;
  fill: var(--icons-fill);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team__link:hover,
.our-team__link:focus {
  fill: var(--white-color);
  background-color: var(--brand-color);
}

/* our customers */
.our-customers {
  display: flex;
  gap: 30px;
}
.our-customers__link {
  width: 170px;
  font-size: 0;
  border: 1px solid var(--icons-fill);
  border-radius: 4px;
  fill: var(--icons-fill);
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-customers__link:hover,
.our-customers__link:focus {
  fill: var(--brand-color);
  border-color: var(--brand-color);
}

/* join us */
.footer__join-us {
  margin-top: 12px;
}
.footer__titles {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
  display: block;
}
.footer__social-container {
  display: flex;
  gap: 10px;
}
.footer__social {
  font-size: 0;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social:hover,
.footer__social:focus {
  background-color: var(--brand-color);
}
.footer__social-icon {
  background-color: var(--join-us-links-bg);
  fill: var(--white-color);
  border-radius: 50%;
}

/* hw5 */
.what-we-do__item {
  position: relative;
  font-size: 0;
}
.what-we-do__img-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 27px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
  background-color: var(--what-we-do-img-title-bg);
}
.portfolio-cards__box {
  position: relative;
  overflow: hidden;
  font-size: 0;
}
.portfolio-cards__description {
  font-size: 18px;
  line-height: 28px;
  color: var(--white-color);
  padding: 49px 45px 49px 24px;
}
.portfolio-cards__overlay {
  position: absolute;
  top: 0;
  background-color: var(--portfolio-cards-bg);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cards__figure:hover .portfolio-cards__overlay {
  transform: translateY(0);
}

/* MODAL */
.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--modal-backdrop-color);
  z-index: 1;
  visibility: visible;
  opacity: 1;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.modal {
  position: relative;
  width: 528px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: initial;
  transform: scale(1);
  transition-property: transform, border-radius;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.is-hidden .modal {
  transform: scale(0.1);
  border-radius: 50%;
}
.btn--modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--modal-close-button-border);
  background-color: var(--white-color);
  padding: 0;
  font-size: 0;
}

/* newsletter */
.footer__label-container {
  margin-top: 12px;
  display: inline-block;
}
.footer__input {
  background-color: var(--header-footer-bg);
  border: 1px solid var(--nesletter-input-border);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-color);
  padding: 15px 16px;
  width: 358px;
}
.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--newsletter-placeholder);
}
.btn--newsletter {
  background-color: var(--brand-color);
  width: 200px;
  height: 50px;
  margin-left: 12px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.btn--newsletter:hover,
.btn--newsletter:focus {
  background-color: var(--white-color);
  color: var(--brand-color);
}
.btn--newsletter:hover .footer__btn-icon,
.btn--newsletter:focus .footer__btn-icon {
  fill: var(--brand-color);
}
.footer__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.footer__btn-icon {
  fill: var(--white-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* modal form */
.order-form {
  font-size: 20px;
  line-height: 1, 15;
  letter-spacing: 0.03em;
  color: inherit;
  margin-bottom: 12px;
}
.order-form__input-title {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
  display: block;
  text-align: left;
}
.btn--order {
  width: 200px;
  height: 50px;
  background-color: var(--brand-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-top: 20px;
  border: 2px solid var(--brand-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--order:hover,
.btn--order:focus {
  background-color: var(--white-color);
  color: var(--brand-color);
}
.order-form__link {
  text-decoration: underline;
  color: var(--brand-color);
}
.order-form__checkbox-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.order-form__label {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}
.order-form__textarea {
  resize: none;
  border: 1px solid var(--order-input-placeholder);
  border-radius: 4px;
  padding: 12px 16px;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--order-textarea-placeholder);
}
.order-form__input {
  width: 100%;
  border: 1px solid var(--order-input-placeholder);
  border-radius: 4px;
  color: inherit;
  padding: 11px 12px 11px 42px;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__label:focus-within .order-form__input {
  border: 1px solid var(--brand-color);
}
.order-form__label:focus-within .order-form__icon {
  fill: var(--brand-color);
}
.order-form__textarea:focus {
  border: 1px solid var(--brand-color);
}
.order-form__icon {
  position: absolute;
  left: 15px;
  top: 30px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__checkbox-icon {
  position: absolute;
  fill: var(--white-color);
  border: 2px solid var(--body-color);
  border-radius: 3px;
  left: 12px;
  top: 3px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__checkbox-input {
  margin-right: 7px;
}
.order-form__checkbox-input:checked + .order-form__checkbox-icon {
  fill: var(--brand-color);
  border: none;
}
